
<ul class="nav nav-tabs">
    <li class="active"><a href="#power-bill" data-toggle="tab">電費</a></li>
    <li><a href="#water-bill" data-toggle="tab">水費</a></li>
    <li><a href="#gas-bill" data-toggle="tab">瓦斯費</a></li>
    <li><a href="#network-bill" data-toggle="tab">網路費</a></li>
</ul>
<div id="InputTabContent" class="tab-content">
    <!-- 電費維護 -->
    <div class="tab-pane fade active in" id="power-bill">
          <fieldset>
             <legend>電費</legend>
             <div id="power-bill-list" class="power-bill-list table-responsive dataList-tables">
                 <div id="power-bill-list-loading" class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                    <span>載入中..</span>
                 </div>
             </div>
          </fieldset>
    </div>
    
    <!-- 水費維護 -->
    <div class="tab-pane fade" id="water-bill">
          <fieldset>
             <legend>自來水費</legend>
             <div id="water-bill-list" class="water-bill-list table-responsive dataList-tables">
                 <div id="water-bill-list-loading" class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                    <span>載入中..</span>
                 </div>
             </div>
          </fieldset>
    </div>
    
    <!-- 瓦斯費維護 -->
    <div class="tab-pane fade" id="gas-bill">
          <fieldset>
             <legend>瓦斯費</legend>
             <div id="gas-bill-list" class="gas-bill-list table-responsive dataList-tables">
                 <div id="gas-bill-list-loading" class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                    <span>載入中..</span>
                 </div>
             </div>
          </fieldset>
    </div>
    
    <!-- 網路費維護 -->
     <div class="tab-pane fade" id="network-bill">
           <fieldset>
              <legend>網路費</legend>
              <div id="network-bill-list" class="network-bill-list table-responsive dataList-tables">
                 <div id="network-bill-list-loading" class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                    <span>載入中..</span>
                 </div>
             </div>
           </fieldset>
    </div>
</div>