<!-- section 1 --->
 <div class="row news-title">
   <div class="col-md-12 col-sm-12">最新資訊</div>
 </div>
<div id="home-section" class="panel panel-default home-section">
  <div id="home-section-body" class="panel-body home-section-body" >
      
    <!-- 統計圖表 --> 
    <div class="row">
        <div class="col-sm-12" >
            <div id="chart-area" style="height: 320px;"></div>
        </div>
    </div>
    
    <!-- 各項資料表 -->
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-4 col-sm-4">
        <div class="row">
          <div class="col-sm-12 type-title">電費</div>
        </div>
        <div class="alert alert-dismissible alert-primary2">
          <div class="row">
            <div class="col-sm-12 section-date power-date">{{year}}年</div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-xs-8 section-info power-total">NT $0</div>
            <div class="col-sm-4 col-xs-4 section-icons"><i class="fa fa-plug"></i></div>
          </div>
        </div>
        <div id="power-table" class="listTables">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>年度</th>
                        <th>月份</th>
                        <th>總額</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>
      
      <div class="col-md-4 col-sm-4">
        <div class="row">
          <div class="col-sm-12 type-title">水費</div>
        </div>
        <div class="alert alert-dismissible alert-danger2">
          <div class="row">
            <div class="col-sm-12 section-date water-date">{{year}}年</div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-xs-8 section-info water-total">NT $0</div>
            <div class="col-sm-4 col-xs-4 section-icons"><i class="fa fa-tint"></i></div>
          </div>
        </div>
        <div id="water-table" class="listTables">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>年度</th>
                        <th>月份</th>
                        <th>總額</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>
      
      <div class="col-md-4 col-sm-4">
        <div class="row">
          <div class="col-sm-12 type-title">瓦斯費</div>
        </div>
        <div class="alert alert-dismissible alert-info2">
          <div class="row">
            <div class="col-sm-12 section-date gas-date">{{year}}年</div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-xs-8 section-info gas-total">NT $0</div>
            <div class="col-sm-4 col-xs-4 section-icons"><i class="fa fa-tasks"></i></div>
          </div>
        </div>
        <div id="gas-table" class="listTables">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>年度</th>
                        <th>月份</th>
                        <th>總額</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>
      
      
      
    </div>
    
  </div>
</div>