<!-- section 1 --->
<div class="panel panel-default home-section">
  <div class="panel-body">
     <div class="row">
         title
     </div> 
     <div class="row">
         <div class="col-md-4 col-sm-4">
           <div class="alert alert-dismissible alert-primary2">
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
          </div>
         </div>
         <div class="col-md-4 col-sm-4">
           <div class="alert alert-dismissible alert-danger2">
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
          </div>
         </div>
         <div class="col-md-4 col-sm-4">
           <div class="alert alert-dismissible alert-info2">
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
          </div>
         </div>
     </div>
  </div>
</div>
