.home-section .section-icons{
	text-align: right;
	pading: 0px;
}
.home-section .section-icons .fa{
	font-size: 45px;
	opacity: 0.75;
}
.home-section .section-info{
	font-size: 29px;
}

.home-section-body{
	display: none;
}

.news-title{
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 1px solid #DCDCDC;
    padding: 0 10px;
}
.type-title{
	font-size: 18px;
}
.section-date{
	font-size: 15px;
}