.home-section .section-icons{
	text-align: right;
	pading: 0px;
}
.home-section .section-icons .fa{
	font-size: 45px;
	opacity: 0.75;
}
.home-section .section-info{
	font-size: 29px;
}

.home-section-body{
	display: none;
}

.home-section-body .alert{
    margin-bottom: 8px;
    border-radius: 0px;
    box-shadow: 4px 5px 5px 1px #D0CFCF;
}
.home-section-body .listTables{
    margin-bottom: 20px;
    /*padding: 0px 8px;*/
    border: 1px solid #ddd;
   /* max-height: 320px;
    overflow-y: auto;
    height: 320px;*/
}
.home-section-body .listTables table{
     margin-bottom: 0px;
}
.home-section-body .listTables table thead{
    background-color: #565555;
    color: #fff;
}

.home-section-body .listTables th {
    text-align: center;
}
.home-section-body .listTables td{
    padding: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 0 0 #DDD;
    text-align: center;
}

.news-title{
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 0px solid #BBB6B6;
    padding: 0 10px;
}
.type-title{
	font-size: 18px;
}
.section-date{
	font-size: 15px;
}

#chart-area::before {
   /* content: "";
    position: absolute;
    display: block;
    width: 312px;
    height: 31px;
    left: 436px;
    top: 278px;
    background: #FAFAFA;
    box-shadow: 2px 2px 0 0 #DDD;*/
}
