@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

body{
    font-family: "cwTeXHei","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 85px;
    background-color: #EFEFEF;
    font-size: 14px;
}

::-webkit-scrollbar {
      width: 8px;
}
::-webkit-scrollbar-track {
      background-color: rgba(255,255,255,0.2);
}
::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-button {
      background-color: rgba(0,0,0,0.2);
	  display: none;
}
::-webkit-scrollbar-corner {
      background-color: rgba(255,255,255,0.2);
}


.main-container{
   margin-bottom: 40px;
}
.navbar-nav>li>a{
    font-size: 14px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.74);
}
.tab-content{
    background-color: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


#InputTabContent .control-label{
   font-size: 14px;
   padding-top: 8px;
}
#InputTabContent .form-control{
  font-size: 14px;
}

fieldset .form_buttons{
  float: right;
}
fieldset .radio{
  font-size: 14px;
}